{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}
<a href="{{ path('management_list',{'entity':'company'}) }}">Companies</a> <br>
<a href="{{ path('management_list',{'entity':'sector'}) }}">Sectors</a> <br>
{% endblock %}